.about-heading {
    background-color: lightgray;
    font-size: 60px;
}



.heading {    
    color: maroon;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightyellow;
    margin-top: 0%;

}


.img {
    margin-top: 0%;
    height: 90%;
    width: 100%;
    
    
}