.about-heading {
    background-color: ;
    font-size: 50px;
    color: black;
    
}



.heading {    
    text-align: center;
 
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: 
    
   
}

.heading-two {
    color: rgb(210,0,51);
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: burlywood;
    margin-top: 0%;
    margin-bottom: 0%;
    border-style: dotted;

}


h2 {
    font-size: xx-large;
}

.img {
    margin-top: 0%;
    height: 80%;
    width: 48%;
    border-style: dashed;
    margin-left: 1%;
    background-color: azure;
    object-position: center top;
    
    
}

body {
    background-color: #FF5A00;
}



.card-title {
    text-align: center;
}