.about-heading {
    color: red;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    background-color:lightgray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
   margin-top: 0%;
   margin-bottom: 0%;
}




.cards {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    height: 100px;
    width: 100%;
    background-color: lightslategray;
    min-height: 100vh;
    margin-top: 0%;
    margin-bottom: 0%; 
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0px 40px 0 rgba(0,0,0,0.2);
    /* background-color: rgba(0,0,0,0.2); */
    transition: 0.3s;
    border-radius: 0;
    

}

.img {
    
    height: 30px;
    width: 10%;
    background-repeat: repeat;
}

.button {
  text-align: center;
  font-family: cursive;
  font-weight: bolder;
  border-color: maroon;
  
}

